.Layout {
  background-color: #e1d6d6;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  display: flex;
}

/* Header Image */

.headerWrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.headerWrapper img {
  height: 23em;
}

.headerWrapper Link {
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .headerWrapper img {
    height: 12em;
  }
}

/* Navbar links */

.navbarLinks {
  display: block;
  flex-direction: row;
  text-align: center;
}

.navbarLinks a {
  text-decoration: none;
  padding: 0 2.5em;
  font-size: 12px;
  color: grey;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
